In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [59]:
df = pd.read_csv("Housing Dataset.csv")

In [60]:
df

        price  area  bedrooms  ...  parking  prefarea furnishingstatus
0    13300000  7420         4  ...        2       yes        furnished
1    12250000  8960         4  ...        3        no        furnished
2    12250000  9960         3  ...        2       yes   semi-furnished
3    12215000  7500         4  ...        3       yes        furnished
4    11410000  7420         4  ...        2        no        furnished
..        ...   ...       ...  ...      ...       ...              ...
540   1820000  3000         2  ...        2        no      unfurnished
541   1767150  2400         3  ...        0        no   semi-furnished
542   1750000  3620         2  ...        0        no      unfurnished
543   1750000  2910         3  ...        0        no        furnished
544   1750000  3850         3  ...        0        no      unfurnished

[545 rows x 13 columns]

In [61]:
df.head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]

In [62]:
df.tail()

       price  area  bedrooms  ...  parking  prefarea furnishingstatus
540  1820000  3000         2  ...        2        no      unfurnished
541  1767150  2400         3  ...        0        no   semi-furnished
542  1750000  3620         2  ...        0        no      unfurnished
543  1750000  2910         3  ...        0        no        furnished
544  1750000  3850         3  ...        0        no      unfurnished

[5 rows x 13 columns]

In [63]:
df.shape

(545, 13)

In [64]:
df.ndim

2

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [66]:
df.describe()

              price          area  ...     stories     parking
count  5.450000e+02    545.000000  ...  545.000000  545.000000
mean   4.766729e+06   5150.541284  ...    1.805505    0.693578
std    1.870440e+06   2170.141023  ...    0.867492    0.861586
min    1.750000e+06   1650.000000  ...    1.000000    0.000000
25%    3.430000e+06   3600.000000  ...    1.000000    0.000000
50%    4.340000e+06   4600.000000  ...    2.000000    0.000000
75%    5.740000e+06   6360.000000  ...    2.000000    1.000000
max    1.330000e+07  16200.000000  ...    4.000000    3.000000

[8 rows x 6 columns]

In [67]:
df.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

Declare the column you want to use as a features

In [68]:
features = ['area', 'bedrooms', 'bathrooms', 'stories', 'parking']

Specify the Prediction Target

In [69]:
target = ["price"]

Extract Features and Target values into Separate dataframes

In [70]:
x = df[features]

In [71]:
y = df[target]

Split the dataset into Training and Test dataset

In [72]:
x_train, x_test, y_train, y_test = train_test_split(x,y)

In [73]:
len(x_train)

408

In [74]:
len(x_test)

137

In [75]:
len(y_train)

408

In [76]:
len(y_test)

137

In [78]:
x_train.ndim

2

In [81]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [82]:
y_pred = model.predict(x_test)

Evaluate Linear Regression Accuracy using Root Mean Square Error

In [83]:
r2_score(y_test, y_pred)

0.49880966169846264